<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <router-link class="nav-item is-brand" to="/">
        What Can I Watch?
      </router-link>
    </div>
    <div class="nav-right">
      <router-link class="nav-item is-tab" to="/movies">
        Movies
      </router-link>
      <router-link class="nav-item is-tab" to="/shows">
        Shows
      </router-link>
      <router-link class="nav-item is-tab" to="/search">
        Search
      </router-link>
    </div>
  </div>
</nav>
