<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Streaming Guru</strong> by <a href="http://www.matthewsecrist.net">Matthew Secrist</a>
      </p>
      <p>
        Data provided by <a href="http://www.guidebox.com" target="_blank">Guidebox.</a>
      </p>
      <p>
        <a class="icon" href="https://github.com/matthewsecrist/StreamingGuru">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
