@import '../node_modules/bulma/sass/utilities/initial-variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

$primary: rgba(70, 30, 100, 1);
$black: rgba(34, 34, 34, 1);

$body-background: $black;
$family-sans-serif: 'Roboto', sans-serif;

@import '../node_modules/bulma/bulma';



.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.is-fluid {
  width: 100%;
  display: block;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
