@import '../node_modules/bulma/sass/utilities/initial-variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

$primary: rgba(70, 30, 100, 1);
$danger: rgba(239, 43, 45, 1);
$black: rgba(34, 34, 34, 1);
$white: rgba(244, 243, 238, 1);

$text: $white;
$link: $white;

$body-background: $black;
$family-sans-serif: 'Roboto', sans-serif;

@import '../node_modules/bulma/bulma';



.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.is-fluid {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.nav {
  background-color: $white;
  position: fixed;
  top: 0;
  width: 100%;
}
