@import '../node_modules/bulma/sass/utilities/initial-variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

$family-serif: 'Avenir', Helvetica, Arial, sans-serif;;
$family-primary: $family-serif;

$primary: #FF0000;
$body-background: #000000;

@import '../node_modules/bulma/bulma'
